# Ignore Intellij files
.idea/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

*_local.yaml

# Visual Studio
.vscode/

# Ignore build directories
out/

docker/.env